<header  class="header-bar">
    <div  >
        <div style="display: inline;float: left">
            <img src="__CSS__/index/image/home_logo.png"  class="home_logo">
        </div>
        <div style="display: inline;float: left"  class="header-inner">
        <ul class="father">
            <li class="li"><a href="{:url('index/index')}" class="home_daohan">首页</a></li>
            <li class="li">
                <div class="drop-down">
                    <a href="{:url('index/index_two')}" target="_self" class="home_daohan1">产品中心</a>
                    <div class="father1">
                        <a class="home_li" href="#" >米可健康管理平台</a>
                        <a class="home_li" href="#">米可智能一体机</a>
                        <a class="home_li" href="#">医生端APP</a>
                        <a class="home_li" href="#">用户端APP</a>
                    </div>
                </div>
            </li>
            <li   class="li"><a href="#" class="home_daohan2">关于我们</a></li>
        </ul>
        </div>
    </div>
</header>